/* 
    Document   : custom
    Created on : Apr 9, 2012, 11:17:23 PM
    Author     : kcmckell
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

h1 {
    font-family: Nosifer;
}    

header #logo {
    max-height: 56px;
    max-width: 50px;
}

header hgroup > h1 {
    font-family: KiloGramRegular;
}

.sf-menu {
    margin-top: 0.5em;
}

.slides li {
    text-align: center;
}