{% block footerCommon %}
<div id="colophon" class="clearfix">
    <div class="grid_12" id="footimage">
        {% block footimage %}{% endblock %}
    </div>
    <div class="grid_4">
        <details>
            <summary>Web Design</summary>
            <ul>
                <li><a href="http://www.claymckell.com">Clay "Dukes" McKell</a></li>
                <li>Jess Kaneshiro</li>
            </ul>
        </details>
    </div>
    <div class="grid_4">
        <details>
            <summary>Design Tools</summary>
            <dl>
                <dt>Design Boilerplate</dt><dd><a href="http://www.prowebdesign.ro/yamb/">YAMB</a></dd>
                <dt>PHP Templating:</dt><dd><a href="http://twig.sensiolabs.org/">Twig</a></dd>
                <dt>Privacy Policy:</dt><dd><a href="http://www.generateprivacypolicy.com/">PrivacyPolicyGenerator.com</a></dd>
                <dt>Image Optimizer:</dt><dd><a href="http://imageoptim.com/">ImageOptim</a></dd>
            </dl>
        </details>
    </div>
    <div class="grid_4">
        <a href="#dialog" class="modalLink">Privacy Policy</a>
        <div id="modal">
            <div id="dialog" class="window">
                <div class="modalContents">
                {% include 'privacypolicy.html' %}
                </div>
            </div>
        </div>            
    </div>
    <div class="grid_12" id="sponsoredbyhula">
        Hopu Ka Lewa is sponsored by <a href="http://www.hawaiiultimate.com">HULA</a>, Hawaii Ultimate League Association.  Questions?  Email <a href="mailto:hopu@hawaiiultimate.com">hopu<img src="images/at.gif" alt="The at sign"/>hawaiiultimate.com</a>
    </div>
    
</div>
<nav id="botnav" role="navigation" class="clearfix">  
    <ul class="sf-menu" id="mobileselect-foot">
        {% include 'navbar.html' %}
    </ul>
</nav>
{% endblock %}