{% block footerCommon %}
<div id="colophon" class="clearfix">
    <div class="grid_12" id="footimage">
        {% block footimage %}{% endblock %}
    </div>
    <div class="grid_4">
        <details>
            <summary>Web Design</summary>
            <ul>
                <li><a href="http://www.claymckell.com">Clay "Dukes" McKell</a></li>
                <li>Jess Kaneshiro</li>
            </ul>
        </details>
    </div>
    <div class="grid_4">
        <details>
            <summary>Design Credits</summary>
            <dl>
                <dt>Design Boilerplate</dt><dd><a href="http://www.prowebdesign.ro/yamb/">YAMB</a></dd>
                <dt>PHP Templating:</dt><dd><a href="http://twig.sensiolabs.org/">Twig</a></dd>
                <dt>Privacy Policy:</dt><dd><a href="http://www.generateprivacypolicy.com/">PrivacyPolicyGenerator.com</a></dd>
            </dl>
        </details>
    </div>
    <div class="grid_4">
        <details>
            <summary>Privacy Policy</summary>
            <div>
            {% include 'privacypolicy.html' %}
            </div>
        </details>
    </div>
    <div class="grid_12">
        Hopu Ka Lewa is sponsored by HULA, Hawaii Ultimate League Association.  Questions?  Email <a href="mailto:hopu@hawaiiultimate.com">hopu<img src="images/at.gif" alt="The at sign"/>hawaiiultimate.com</a>
    </div>
    
</div>
<nav id="botnav" role="navigation" class="clearfix">  
    {% include 'navbar.html' %}
</nav>
{% endblock %}